/*Imports*/
@import "bootstrapExpansion.css";
@import "printable.css";
@import "fontWrapper.css";

/*Globals*/
body {
    min-height: 570px; /*tamanho real 640, remove barra de endereços*/
    min-width: 360px;
    height: 100vh;
    /*align-items: stretch;*/
}
hr {
    border-color: #353635;
}
.input-group-addon{
    background-color: #dbdddd;
    border: 1px solid #5a5a5a;
    color: #000;
    transition: .2s ease-in-out;
}
.input-group-addon:hover{
    background-color: rgba(244, 151, 46, 0.65);
    color: #2e2e2e;
}
.navbar-default{
    background-color: #353635 !important;
    border-bottom: 2px solid #000;
    border-radius: 0px;
}
.navbar-default .navbar-nav > li > a{
    color: #a9a9a9;
}
.navbar-default .navbar-nav > li > a:hover{
    color: whitesmoke;
}
.alert-danger{
    /*border: 4px solid #a84b42;*/
    border: none;
    border-radius: 0px;
    background-color: #a84b42;
    font-weight: bold;
    color: #e9e7e9;
    border-bottom-right-radius: 20px;
    font-family: 'Open Sans', sans-serif;
}
.btn-primary {
    color: #000;
    border: 2px solid #000;
    border-radius: 0;
    background-color: transparent;
    transition: .1s ease-in-out;
}
.btn-primary:hover{
    color: #000;
    border: 2px solid #000;
    border-radius: 0;
    background-color: rgba(244, 151, 46, 0.65);

}

.selectCool{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#page404, #main{
    height: 100%;
    background:
            #009092
            url("../img/bg-main.jpg")
            no-repeat;
}
#page404 .container, #main .container {
    height: 100%;
}
h1,h2,h3,h4,span,p,a{
    color: white;
}
input[type=text], input[type=password], input[type=number], input[type=date]{
    background-color: rgba(31, 31, 31, 0.7) !important;
    border: 0 !important;
    color: white !important; /*verificar por que funciona apenas com important */
}

.container-fluid {
    padding: 0;
}

.printOnly {
    display: none;
}
#mainAvisos{
    min-height: 52px;
}
/*PADRÕES GLOBAIS*/
/*Estilo de botões*/
.coolButton {
    border: 1px solid white;
    border-radius: 25px;
    padding: 8px 20px;
    text-decoration: none;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    font-size: large;
}
.coolButton:hover {
    color: #56abff;
    border: 1px solid #d7d7d7;
    background-color: rgba(0, 0, 0, 0.14);
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.formBoxContainer{
    border: 2px solid #353635;
    border-radius: 10px;
    margin-bottom: 25px;
}
.coolButton:active {
    color: #56abff;
}

/*Dashboard pages*/
#dashboard, .infra, .oficinas, .turmas, .usuario, .aluno, #relatorios {
    overflow-x: hidden;
    min-height: 100%;
    background:
            #e5e6e6
            repeat
            700px;
    color: #575557; /*color white*/
}
.infra, .oficinas, .turmas, .usuario, .aluno{
    /*input styles in here!!!!!*/
}
/*Tabelas*/
.table{
    /*background-color: #dbe8e8;*/
    color: rgb(178, 176, 178);
    border: 2px solid #353635;
}
.table td{
    padding: 15px;
    color: #353635;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.table td{
}
.table tbody tr{
    transition: .2s ease-in-out;
}
.table tbody tr:hover{
    /*box-shadow: 0 0 3px 2px #4b4b4b;*/
    background-color: rgba(244, 151, 46, 0.8);
}
.table th{
    padding: 15px;
    color: rgb(239, 245, 236);
    background-color: #353635;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border-bottom: none;
}
#footerYear{
    color: #575557;
}
/*Página 404*/
#page404 .container {
    margin-top: 10%;
}
#page404 {
    overflow: hidden;
}
#page404 h1 {
    font-size: 200px;
}
#contTab{
    padding: 20px;
}
/*Login: página principal*/
.logo {
    background:
            url("../img/Logo-web.svg")
            no-repeat
            center;
    min-height: 55%;
}

#mainAvisos{
    margin-bottom: 20px;
}
#main .container {
    padding-top: 11%;
}

#main .continue {
    font-size: 20px;
}
#main #avisos{
    margin-bottom: 0;
}
#main form {
    padding-top: calc(9% - 52px);
}
#main form > a {
    color: white;
    padding-left: 10px;
}

/*Login: lista de oficinas disponíveis*/
#listaOficinas {
    /*background-color: #ffc987;*/
    background-color: #fff;
    height: auto;
    min-height: 100%;
}
#listaOficinas h4, #listaOficinas span, #listaOficinas p{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#titulo-lista {
    border-top: 3px solid #000;
    border-bottom: 5px solid #000;
    padding: 10px;
    color: black;
}
#listaOficinas .container-fluid {
    padding-top: 1%;
    padding-bottom: 2%;
    min-height: 100%;
}
#listaOficinas .container-fluid h3 {
    color: #000;
    font-weight: bold;
}
#listaOficinas .media {
    color: #000;
    /*background-color: #2aabd2;*/
    border-bottom: 4px solid #000;
    border-left: 4px solid transparent; /*não a forma mais elegante de resolver o problema, mas resolve*/
    padding-left: 3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    transition: 0.3s ease;
    font-size: medium;
}
#listaOficinas .media .media-body {
    padding-left: 3%;
}
#listaOficinas .media:hover {
    /*
    border-left: 4px solid #ff7471;
    border-bottom: 4px solid #ff7471;
    color: #ff7471;
    background-color: rgba(244, 255, 252, 0.94);
    */

}
#listaOficinas .media .media-left {
    padding-right: 0;
}
#listaOficinas .media .media-object {
    font-size: 50px;
}
#listaOficinas .media .media-body .media-heading {
    font-size: x-large;
    font-weight: bold;
}
/*Login: Rodapé principal com dados e informações para contato*/
#MainFooter {
    background-color: #88bbd6;
    color: white;
    padding: 25px;
    box-shadow: 0px 20px 20px 20px #000000;
}
/* Estilo do Loader que esta no codigo do ajax */
.loader {
    margin: 0 auto;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*Dashboard: Tela inicial pós login*/
#dashboard {
    display: flex; /*TODO: mexer no display mode, não responsivo*/
    background-color: #f3f1f3;/*background-color: rgba(195, 187, 243, 0.88);*/
    color: #575557;
}
#dashboard p, #dashboard h1, #dashboard h2, #dashboard h2, #dashboard h4,
#relatorios span, #relatorios h1 , #relatorios h2, #relatorios h3, #relatorios h4, #relatorios p{
    color: #404040
}
#dashboard .content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
}
#usr{
    color: #575557;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
#user, #nv, #anoAtual, #periodoAtual{
    color: rgb(255, 88, 105);
}
#dashboard .content hr {
    border-color: #353635;
}

#dashboard a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
/*Sidebar*/
.sidebar {
    /*border-right: 1px solid #747474;*/
    color: #d6d4d6;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    background-color: #353635;
}
.sidebar ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
}
.sidebar ul li i {
    font-size: x-large;
}
.sidebar ul .collapse a:hover {
    /*padding-top: 7px;*/
}
.sidebar ul li a:hover {
    color: rgb(255, 88, 105);
}
/*TODO: Aperfeiçoar estilo de formulários*/
/*Infraestrutura*/
.infra h1,.infra h2,.infra h3,.infra h4,.infra span,.infra p, .oficinas h1,.oficinas h2,.oficinas h3,.oficinas h4,.oficinas span,.oficinas p,
.turmas h1,.turmas h2,.turmas h3,.turmas h4,.turmas span,.turmas p, .usuario h1,.usuario h2,.usuario h3,.usuario h4,.usuario span,.usuario p,
.aluno h1,.aluno h2,.aluno h3,.aluno h4,.aluno span,.aluno p{
    color: #404040;
}
.infra {}
/*Oficinas */
.oficinas {}
/*Turmas*/
.turmas {}
/*Usuário */
.usuario {}
/*Usuário: Gerenciar*/
.aluno {}

/*SCREEN SIZE - responsivo*/
@media screen and (max-height: 640px) {
    #page404, #main{
        height: calc(100% - 57px);
    }
    #main div a.coolButton{
        display: none;
    }
}
@media screen and (max-width: 1199px){
    #main div a.coolButton{
        display: none;
    }
}
