@media print{
    /*Definindo margens*/
    @page{
        margin: 1.5cm;
    }
    /*Resetando os estilos*/
    *{
        border: none;
    }
    #t_oficinas .media{
        font-size: 20pt !important;
        border: none;
        //border-top: 2px solid black;
    }

    /*Removendo tags desnecessárias para impressão*/
    .painel, .MainFooter {
        display: none;
    }
    /*Ativando tags proprias da impressão*/
    .printOnly, .cabecalho{
        display: block !important;
    }
    /*Definindo estilos próprios para impressão*/
    .cabecalho{
        border-bottom: 2px solid black;
    }
    .cabecalho h2{
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 14pt;
    }
    .cabecalho img{
        width: 250px;
        margin: auto;
    }
    .cabecalho p{
        font-size: 12pt;
        font-family: Arial;
        text-align: justify;
        margin-left: 1.5cm;
        margin-rigth: 1.5cm;
    }

    #titulo-lista{
        display: none;
    }
    #t_oficinas .media h2{
        font-size: 20pt !important;
    }

    #t_oficinas .media{
        font-size: 15pt !important;
        font-weight: bold;
    }
    #t_oficinas .media .media-object{
        font-size: 15pt !important;
        font-weight: bold;
    }

    #t_oficinas .media .media-body{
        font-size: 12pt !important;
        font-weight: normal !important;
        font-family: Arial !important;
    }
    #t_oficinas .media .media-body .media-heading{
        font-size: 15pt !important;
        font-weight: bold !important;
        font-family: Arial !important;
    }
    /*Pagínas não imprimíveis*/

    .noPrint{
        display: none;
    }
}
