@media print {
    /*Definindo margens*/
    @page {
        margin: 3cm 2cm 2cm 3cm;
    }

    /*Resetando os estilos*/
    * {
        color: black;
        border: none;
    }
    #main, #MainFooter, .sidebar, .nav .navbar-default{
        display: none;
    }
    .noPrint::before{
        content: "Esta Página Não Pode Ser Impressa";
    }
    .noPrint{
        display: none;
    }
}