<body class="container-fluid">
<div class=" infra">
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid" style="overflow-x: hidden">
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="index.php?pag=Infraestrutura"><i class="glyphicon glyphicon-chevron-left"></i> Voltar a Infraestrutura</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container" style="overflow-x: hidden">
        <p id="avisos"></p>
        <h2 class="" style="">Cadastro de Novos Prédios</h2>
        <br><br>
        <form class="form-horizontal col-md-12" action="control/main.php?req=insertPredio" method="POST">
            <div class="form-group">
                <label class="control-label" for="nome">NOME</label>
                <div class="">
                    <input id="nome" name="nome" type="text" placeholder="Ex. Ginásio Mário Dantas"  class="form-control input-md" required="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="localizacao">LOCALIZAÇÃO</label>
                <div class="">
                    <input id="localizacao" name="localizacao" type="text" placeholder="Ex. Rua dos Bobos, número 0"  class="form-control input-md" required="">
                </div>
                <br><br>
            </div>

            <div class="form-group"><!-- Submit -->
                <input id="enviar" type="submit" class="btn btn-primary btn-block" value="CADASTRAR" />
            </div>
        </form>
    </div>
</div>
</body>