
<body class="container-fluid infra">
<div class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="index.php?pag=DashBoard"><i class="glyphicon glyphicon-home"></i> Página Inicial</a>
                    </li>
                    <li class="active"><a data-toggle="tab" href="#predios">Gerenciar Prédios</a></li>
                    <li><a data-toggle="tab"
                           onclick="ajaxLoadGET('control/main.php?req=selectSala',jsonParseSalas,'#tsala');"
                           href="#salas">Gerenciar Salas</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<p id="avisos"></p>

<div style="overflow-x: hidden;">
    <div id="contTab" class="tab-content">
        <div id="predios" class="tab-pane fade in active">

            <a href="?pag=Cad.Predio" type="button" class="btn btn-primary"><i
                    class="glyphicon glyphicon-plus"></i> Novo Prédio</a>

            <table class="table tableContainer">
                <thead>
                <tr>
                    <th class=''>Nome</th>
                    <th class=''>Localização</th>
                    <th class=''>Ativo</th>
                    <th class=''></th>
                </tr>
                </thead>
                <tbody id="tpredio"></tbody>
            </table>
        </div>

        <div id="salas" class="tab-pane fade">
            <a href="?pag=Cad.Sala" type="button" class="btn btn-primary"><i
                    class="glyphicon glyphicon-plus"></i> Nova Sala</a>
            <br>
            <table class="table">
                <thead>
                <tr>
                    <th class=''>Nome</th>
                    <th class=''>Prédio</th>
                    <th class=''>Ativo</th>
                    <th class=''></th>
                </tr>
                </thead>
                <tbody id="tsala"></tbody>
            </table>

        </div>


    </div>
</div>


<script type="text/javascript">
    var controlador = "control/main.php?req=selectPredio";

    $('#tbody').on("load", loader());


    function loader() {
        getMsgs();
        ajaxLoadGET(controlador, jsonParsePredios, '#tpredio')
    }

</script>
</body>