<body class="container-fluid usuario">
<!--div class="col-md-0-5 sidebar">
    sidebar place -holder
</div-->
<div class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="index.php?pag=DashBoard"><i class="glyphicon glyphicon-home"></i> Página
                        Inicial</a></li>
                    <li class="active"><a data-toggle="tab" onclick="trocaReq('todos')" href="#">Todos</a></li>
                    <li class=""><a data-toggle="tab" onclick="trocaReq('candidato')" href="#">Gerenciar
                        Candidato</a></li>
                    <li class=""><a data-toggle="tab" onclick="trocaReq('professor')" href="#">Gerenciar
                        Professores</a></li>
                    <li class=""><a data-toggle="tab" onclick="trocaReq('administrador')" href="#">Gerenciar
                        Adminstradores</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<p id="avisos"></p>

<div style="overflow-x: hidden;">
    <div id="contTab" class="tab-content" style="padding: 20px;">
        <div id="users" class="tab-pane fade in active">

            <div class="col-md-2">
            <a href="?pag=Cad.Pessoa" type="button" class="btn btn-primary"><i
                    class="glyphicon glyphicon-plus"></i> Novo Usuário</a>
            </div>
            <div class="col-md-5 searchBox">
                <input type="text" class="searchBox" id="searchName" onclick="limpaPesquisa();" placeholder="Buscar ...">
                <button id="bt-pesquisa" type="button" onclick="pesquisa()" disabled>Pesquisa</button>
            </div>

            <br>
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-4">Nome</th>
                    <th class="col-md-2">Tipo de Acesso</th>
                    <th class="col-md-2">Menor de Idade ?</th>
                    <th class="col-md-2">Discente da Rural ?</th>
                    <th class="col-md-2">Ver / Editar dados</th>
                </tr>
                </thead>
                <tbody id="usuarios"></tbody>
            </table>

        </div>
    </div>

    <ul class="pagination" id="qtdPags">
        <li><a href="#" onclick="trocaPag(1)">1</a></li>
    </ul>

</div>
<script type="text/javascript">
    var pagina = 1;
    var nivel = "todos";

    $(document).ready(usuariosLoader());

    function usuariosLoader() {
        carregaUsuarios();
        ajaxLoadGET('control/main.php?req=getPageNumber&nivel='+nivel, getPags, '#cadastrosRuralino');
    }

    function trocaPag(pag) {
        pagina = pag;
        carregaUsuarios();
    }
    function trocaReq(req) {
        nivel=req;
        pagina=1;
        carregaUsuarios();
        //recarregando o paginador
        let urlControler = 'control/main.php?req=getPageNumber&nivel='+nivel;
        ajaxLoadGET(urlControler, getPags, '#cadastrosRuralino');
    }
    function carregaUsuarios() {
        ajaxLoadGET('control/main.php?req=selectUsuario&nivel=' + nivel +'&pagina='+pagina, jsonParseUsuarios,'#usuarios');
    }
    function pesquisa() {
        $('#bt-pesquisa').attr("disabled","disabled");//importante para nao envia 2 requisicoes iguais
        let nome = $('#searchName').val();
        ajaxLoadGET('control/main.php?req=selectUsuario&nivel=' + nivel +'&nome='+nome, jsonParseUsuarios,'#usuarios');
    }
    function limpaPesquisa() {
        $('#bt-pesquisa').removeAttr("disabled");
        $('#searchName').val('');
        //trocaReq('selectTodos');
    }
    function getPags(resposta) {
        let objJson = JSON.parse(resposta);
        let registros = objJson[0].total;
        let paginas = registros/25;
        let paginador = $('#qtdPags');
        paginador.empty();
        //aqui coloquei =1 pois nao temos a pagina 0, e a condicao de parada ficou menor igual.
        for(let i=1;i<=paginas;i++){
            paginador.append('<li><a href="#" onclick="trocaPag('+i+')">'+i+'</a></li>');
        }
    }
</script>
</body>
