<body class="container-fluid usuario">
<!--div class="col-md-0-5 sidebar">
    sidebar place -holder
</div-->
<div class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="?pag=DashBoard" style="color: white"><i class="glyphicon glyphicon-chevron-left"></i> Página Inicial</a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active" data-toggle="collapse" data-target="#myNavbar"><a data-toggle="tab" onclick="trocaReq('todos')" href="#">Todos</a></li>
                    <li data-toggle="collapse" data-target="#myNavbar"><a data-toggle="tab" onclick="trocaReq('candidato')" href="#">Gerenciar Candidato</a></li>
                    <li data-toggle="collapse" data-target="#myNavbar"><a data-toggle="tab" onclick="trocaReq('professor')" href="#">Gerenciar Professores</a></li>
                    <li data-toggle="collapse" data-target="#myNavbar"><a data-toggle="tab" onclick="trocaReq('administrador')" href="#">Gerenciar Adminstradores</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<p id="avisos"></p>

<div style="overflow-x: hidden;">
    <div id="contTab" class="tab-content" style="padding: 20px;">
        <div id="users" class="tab-pane fade in active">

            <div class="row">
                <div class="col-md-1 col-md-offset-1" style="margin-bottom: 15px">
                    <a href="?pag=Cad.Pessoa" type="button" class="btn btn-primary"><i
                            class="glyphicon glyphicon-plus"></i> Novo Usuário</a>
                </div>

                <div class="col-lg-12 smallScreenSpaceCorrection">
                    <div class="input-group">
                    <span class="input-group-btn">
                        <button id="bt-pesquisa" class="btn btn-primary" type="button" onclick="pesquisa()" disabled>Buscar</button>
                    </span>
                        <div class="searchBox">
                            <input type="text" class="form-control searchBox" id="searchName"
                                   onclick="limpaPesquisa('bt-pesquisa','searchName')"
                                   placeholder="Nome do Usuário ...">
                        </div>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <br>
            </div>
            <div class="col-md-12" style="overflow-x: auto">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-4">Nome</th>
                    <th class="col-md-2">Tipo de Acesso</th>
                    <th class="col-md-2">Menor de Idade ?</th>
                    <th class="col-md-2">Discente da Rural ?</th>
                    <th class="col-md-2">Ver / Editar dados</th>
                </tr>
                </thead>
                <tbody id="usuarios"></tbody>
            </table>
            </div>

        </div>
    </div>
    <div class="container-fluid text-center">
        <ul class="pagination coolPaginator" id="paginador">
            <li><a href="#" onclick="trocaPag(pagina-1)" id="goBack"><span class="fa fa-chevron-left"></span></a></li>
            <li>
                <span>
                    <span>
                        <input id="paginic" type="text" onchange="trocaPag(parseInt($(this).val()))">
                    </span>
                    de
                    <span id="pagfim">
                        N
                    </span>
                </span>
            </li>
            <li><a href="#" onclick="trocaPag(pagina+1)" id="goNext"><span class="fa fa-chevron-right"></span></a></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    var totalpaginas = 1;
    var pagina = 1;
    var nivel = "todos";

    $(document).ready(usuariosLoader(), $('#paginic').val(pagina));

    function usuariosLoader() {
        carregaUsuarios();
        ajaxLoadGET('control/main.php?req=getPageNumber&nivel=' + nivel, setPaginador, '#cadastrosRuralino');
    }
</script>
</body>
