<body class="container-fluid" id="relatorios">

<div class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="index.php?pag=DashBoard"><i class="glyphicon glyphicon-home"></i> Página Inicial</a>
                    </li>
                    <li class="active"><a data-toggle="tab" href="">Gerenciar Relatórios</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<p id="avisos"></p>
<div style="overflow-x: hidden;">
    <div id="contTab" class="tab-content">
        <p>Total de Alunos atualmente em Oficinas: <span id="totalAlunosAtivos"></span></p>
        <h3>Alunos por Oficina (De todas as turmas)</h3>

        <div class="row">
            <table width="80%" align="center" class="table">
                <thead>
                <tr>
                    <th class="col-md-4">Oficina</th>
                    <th class="col-md-2">Número de Alunos</th>
                    <th class="col-md-2">Lista de Espera</th>
                </tr>
                </thead>
                <tbody id="alunosPorOficina">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(document).ready(loaderRelatorios);

    function loaderRelatorios() {
        ajaxLoadGET('control/main.php?req=relAlunosAtivos', jsonParseTotalAlunosAtivos, '#toficinas');
    }

    function jsonParseTotalAlunosAtivos(resposta, corpo) {
        let json = JSON.parse(resposta);
        $('#totalAlunosAtivos').append(json[0].numAlunos);
    }

    function jsonParseAlunosPorOficinas(resposta, corpo) {
        let json = JSON.parse(resposta);
        for (i in json) {
            corpo.append(
                '<tr>\n' +
                '     <td class="col-md-4">' + objJson[i].oficina + '</td>\n' +
                '     <td class="col-md-2">' + objJson[i].num_alunos + '</td>\n' +
                '     <td class="col-md-2">' + objJson[i].lista_espera + '</td>\n' +
                '</tr>');
        }
    }
</script>
</body>