<body class="container-fluid" id="relatorios">

<div class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="index.php?pag=DashBoard"><i class="glyphicon glyphicon-home"></i> Página Inicial</a>
                    </li>
                    <li class="active"><a data-toggle="tab" href="#rmain">Gerenciar Relatórios</a></li>
                    <li><a data-toggle="tab" href="#histTab">Históricos</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<p id="avisos"></p>

<div style="overflow-x: hidden;">
    <div id="contTab" class="tab-content">
        <div id="rmain" class="tab-pane fade active in">

            <div class="col-md-12">
                <span>Periodo:</span>
                <select class="selectCool2" id="periodo" onchange="getPeriodoSelecionado();">
                </select>
            </div>

            <h3 style="padding-top: 66px;">Cadastros</h3>
            <P>Alunos da Rural: <span id="cadastrosRuralino"></span> </P>
            <p>Crianças: <span id="cadastrosCrianca"></span> </p>
            <p>Total de cadastros: <span id="totalCadastros"></span> </p>

            <h3 class="text-center">Alunos por Oficina</h3>
            <p>Total matriculado em oficinas: <span id="totalAlunosAtivos"></span> Alunos.</p>
            <p>Total em lista de espera: <span id="totalAlunosEspera"></span> Alunos.</p>
            <div class="row">
                <table width="80%" align="center" class="table">
                    <thead>
                    <tr>
                        <th class="col-md-4">Oficina</th>
                        <th class="col-md-2">Número de Alunos</th>
                        <th class="col-md-2">Tam da Lista de espera</th>
                    </tr>
                    </thead>
                    <tbody id="alunosPorOficina">
                    </tbody>
                </table>
            </div>
        </div>

        <div id="histTab" class="tab-pane fade">
            <h3>Busca de Histórico</h3>
            <div class="row">
                <table width="80%" align="center" class="table">
                    <thead>
                    <tr>
                        <th class="col-md-4">Nome</th>
                        <th class="col-md-2">Participou de</th>
                        <th class="col-md-2"></th>
                    </tr>
                    </thead>
                    <tbody id="alunos">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    $(document).ready(loaderRelatorios);


    function loaderRelatorios() {
        ajaxLoadGET('control/main.php?req=selectTempoHistorico', parsePeriodosSelect, '#periodo', getPeriodoSelecionado);
        ajaxLoadGET('control/main.php?req=selectAlunosCadastrados', parseCadastros, '#cadastrosRuralino');
        ajaxLoadGET('control/main.php?req=selectAlunosHistorico', parseAlunosHistorico, '#alunos');

    }

    function getPeriodoSelecionado() {
        let periodo = $('#periodo').val();
        ajaxLoadGET('control/main.php?req=relAlunosPorTurmaPeriodo&id=' + periodo, jsonParseAlunosPorOficinas, '#alunosPorOficina');

        function jsonParseAlunosPorOficinas(resposta, corpo) {
            let objJson = JSON.parse(resposta);
            let soma = 0;
            let espera = 0;
            for (let i in objJson) {
                corpo.append(
                    '<tr>\n' +
                    '     <td class="col-md-4">' + objJson[i].oficina + '</td>\n' +
                    '     <td class="col-md-2">' + objJson[i].alunos + '</td>\n' +
                    '     <td class="col-md-2">' + objJson[i].espera + '</td>\n' +
                    '</tr>');
                soma += parseInt(objJson[i].alunos);
                espera += parseInt(objJson[i].espera);
            }
            $('#totalAlunosAtivos').empty().append(soma);
            $('#totalAlunosEspera').empty().append(espera);
        }
    }
    function parseAlunosHistorico(resposta,corpo) {
        let objJson = JSON.parse(resposta);
        let soma = 0;
        for (let i in objJson) {
            corpo.append(
                '<tr>\n' +
                '     <td class="col-md-4">' + objJson[i].nome +' '+ objJson[i].sobrenome + '</td>\n' +
                '     <td class="col-md-2">' + objJson[i].oficinas + ' Oficinas</td>\n' +
                '     <td class="col-md-2"></td>\n' +
                '</tr>');
            soma += parseInt(objJson[i].alunos);
        }
    }

    function parseCadastros(resposta) {
        let objJson = JSON.parse(resposta);
        $('#cadastrosRuralino').empty().append(objJson.ruralino);
        $('#cadastrosCrianca').empty().append(objJson.crianca);
        $('#totalCadastros').empty().append(objJson.total);
    }
</script>
</body>