<body class="aluno">
<body class="container-fluid">
<div class="aluno">
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="?pag=DashBoard"><i class="glyphicon glyphicon-home"></i> Página Inicial</a></li>
                        <li class="active"><a data-toggle="" href="#turmas">Gerenciar Alunos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <p id="avisos"></p>
</div>
</body>
</body>