<body class="container-fluid">
<div class="aluno">
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid" style="overflow-x: hidden">
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="index.php?pag=Alunos"><i class="glyphicon glyphicon-chevron-left"></i> Voltar a Gerência de Alunos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container" style="overflow-x: hidden">
        <p id="avisos"></p>
        <h2 class="" style="">Cadastro de Aluno em Uma Turma</h2>
        <br><br>
        <form class="form-horizontal col-md-12" action="control/main.php?req=insertAluno" method="POST">
            <div class="form-group">
                <label for="turma">Selecione a turma</label>
                <select onchange="" name="turma" id="turma" style="color: black">
                    <option value=1 selected="selected">Dança 1 Seg-QUA</option>
                </select>
            </div>

            <h5>Legenda:</h5>
            <p id="legenda"></p>
            <h3>Selecione um Candidato</h3>
            <div class="form-group">
                <label for="candidato">Candidato</label>
                <select onchange="" name="candidato" id="candidato" style="color: black">
                    <option value=1 selected="selected">Fulaninho</option>
                </select>
            </div>
            <div class="form-group"><!-- Submit -->
                <br>
                <br>
                <br>
                <input id="enviar" type="submit" class="btn btn-primary btn-block" value="CADASTRAR ALUNO" />
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).on("load", loader());

    function loader() {
        ajaxLoadGET('control/main.php?req=selectTurmaAtiva', parseTurmasComVagas, '#turma');
        ajaxLoadGET('control/main.php?req=selectCandidato', parseCandidatos, '#candidato');
        getMsgs();
    }

    function parseTurmasComVagas(resposta, corpo) {
        var objJson = JSON.parse(resposta);
        for (i in objJson) {
            corpo.append(
                '<option value=' + objJson[i].id_turma + ' >' + objJson[i].oficina + " - " + objJson[i].turma + '</option>'
                );
            $('#legenda').append('->'+ objJson[i].oficina + " - " + objJson[i].turma +
                    ' Inicio: '+objJson[i].inicio +
                    ' Local:  '+ objJson[i].predio + ',  ' + objJson[i].sala +
                '<br/>');
        }
    }
    function parseCandidatos(resposta,corpo) {
        var objJson = JSON.parse(resposta);
        for (i in objJson) {
            corpo.append(
                '<option value=' + objJson[i].id_pessoa + ' >' + objJson[i].nome + " " + objJson[i].sobrenome + '</option>'
            );
        }
    }
</script>
</body>