<body class="container-fluid usuario">

<div class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="index.php?pag=Alunos"><i class="glyphicon glyphicon-chevron-left"></i> Voltar a
                        Gerência de Alunos</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<p id="avisos"></p>

<div class="container">
    <!-- Form Name  -->
    <form class="form-horizontal" action="control/main.php?req=insertAluno" method="POST">
        <br>
        <div class="formBoxContainer col-md-12 text-center">
            <div class="form-group container">
                <h3 class="text-center col-md-12">Cadastro de Aluno em Uma Turma</h3>

                <div class="col-md-12">
                    <label for="turma">Turma: </label>
                    <select class="selectCool" id="turma" name="turma" onchange="obterInfoTurma();"
                            title="Escolha uma Turma"
                            required="required">
                        <option value="">Selecione uma Turma</option>

                    </select>
                </div>

                <div class="col-md-12">
                    <p><b>Dia: <span id="diaTurma"></span> <span id="horarioTurma"></span></b></p>
                    <p><b>pré requisito: <span id="preReq"></span> </b></p>
                    <p><b>Selecionados: <span class="selecionados">0</span> / Vagas: <span class="vagas">X</span></b></p>
                </div>

                <div class="col-md-11">
                    <label for="searchNames">Busque Candidatos</label>
                    <input type="text" id="searchNames" onkeyup="getCandidatosByName();" placeholder="Nome de um aluno">
                    <br/>
                    <input type="button" class="btn btn-primary" onclick="Desmarcar();" value="Desmarcar todos"/>
                    <br/>
                    <table class="table">
                        <thead  style="align-content: center;">
                        <tr>
                            <th class=''>Nome</th>
                            <th class=''>Idade</th>
                            <th class=''>Inserir?</th>
                        </tr>
                        </thead>
                        <tbody id="tcandidatos"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p><b>Selecionados: <span class="selecionados">0</span> / Vagas: <span class="vagas">X</span></b></p>
            <p class="warning">
                Caso o numero de selecionados supere o numero de vagas os alunos serão cadastrados em ordem alfabética.
                Para cadastrar em outra ordem cadastre um a um.
            </p>
        </div>
        <!-- Submit -->
        <div class="container-fluid">
            <input id="enviar" type="submit" class="btn btn-primary btn-block" value="Cadastrar"/>
        </div>
        <br>
        <br>
    </form>

</div>
<script type="text/javascript">
    $(document).ready(loader());//devemos carregar somente apos a pagina ser exibida

    function loader() {
        ajaxLoadGET('control/main.php?req=selectTurmaAtiva', parseTurmasComVagas, '#turma',obterInfoTurma);
        getCandidatosByName();
        getMsgs();
    }

    function obterInfoTurma() {
        let idTurma = $('#turma').val();
        ajaxLoadGET('control/main.php?req=selectTurmaById&id='+idTurma, parseTurmaInfo, '#diaTurma');

        function parseTurmaInfo(resposta) {
            let json = JSON.parse(resposta);
            if(json[0].requisito.length < 2) json[0].requisito = 'Nenhum';
            $('#diaTurma').append(getDiaSemana(json[0]));
            $('#horarioTurma').empty().append(json[0].inicio.slice(0,5) +'h ás '+json[0].fim.slice(0,5)+'h');
            $('#preReq').empty().append(json[0].requisito);
            $('.vagas').empty().append(parseInt(json[0].num_vagas) - parseInt(json[0].ocupadas));
        }
        //apos trocar de turma devemos desmarcar os alunos da turma anterior
        Desmarcar();
    }

    function parseTurmasComVagas(resposta, corpo,funcaoEncadeada) {
        var objJson = JSON.parse(resposta);
        for (i in objJson) {
            corpo.append(
                '<option value=' + objJson[i].id_turma + ' >' + objJson[i].oficina + " - " + objJson[i].turma + '</option>'
            );

        }
        funcaoEncadeada();
    }

    function getCandidatosByName() {
        let nome = $('#searchNames').val();
        ajaxLoadGET('control/main.php?req=selectTodos&nome='+nome, parseCandidatos, '#tcandidatos');
        function parseCandidatos(resposta, corpo) {
            let objJson = JSON.parse(resposta);
            for (i in objJson) {
                if(objJson[i].excluido == 1) continue;//removendo usuarios desativados
                corpo.append(
                    '<tr>' +
                    '<td class=\'col-md-5\'> ' + objJson[i].nome + ' '+ objJson[i].sobrenome+ '</td>' +
                    '<td class=\'col-md-5\'> ' + calculaIdade(objJson[i].data_nascimento) + '</td>' +
                    '<td class=\'col-md-1\'> <input type="checkbox" name="aluno_id[]" onclick="contagem();" value="'+ objJson[i].id_pessoa + '"> </td>' +
                    '</tr>');
            }
        }
    }
    //função que desmarca todos
    function Desmarcar(){
        $("input[name='aluno_id[]']").each(function(){
            $(this).removeAttr("checked");})
        contagem();
    }

    function contagem() {
        let checkbox = $('input:checkbox[name^=aluno_id]:checked');
        $('.selecionados').empty().append(checkbox.length);
    }

</script>
</body>