<body>
<body class="container-fluid">
<div class="turmas">
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid" style="overflow-x: hidden">
                <div>
                    <ul class="nav navbar-nav navbar-fixed-top">
                        <li><a href="index.php?pag=Turmas"><i class="glyphicon glyphicon-chevron-left"></i> Voltar a
                            Gerência de Turmas</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container" style="overflow-x: hidden">
        <form>
            <div class="form-group">
                <h3>Edição de Turmas - <span id="nomeHeader"></span></h3>
            </div>
        </form>
    </div>
</div>

<script>

</script>

</body>