<body>
<h3><a href="index.php?pag=DashBoard"><span class="glyphicon glyphicon-chevron-left"></span> Voltar </a> | Gerenciando Turmas</h3>

<!--TODO: TERMINAR DE PROGRAMAR QUADRO DE AVISOS-->
<p id="avisos"></p>

<a href="?pag=Cad.Turma" type="button" class="btn btn-primary">Cadastrar Turma</a>
<h3 class="text-center">Todas as turmas cadastradas</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th class='col-md-1'>Oficina</th>
        <th class='col-md-2'>Dia da semana</th>
        <th class='col-md-2'>Horario</th>
        <th class='col-md-2'>Sala</th>
        <th class='col-md-1'>Professor</th>
        <th class='col-md-2'>Ativa</th>
        <th class='col-md-2'>Edit</th>
    </tr>
    </thead>
    <tbody id="turmas"></tbody>
</table>
<script type="text/javascript">

    $(document).on("load", loader());

    function loader() {
        ajaxLoadGET('control/main.php?req=selectTurma', parseTurmaHorario, '#turmas');
        getMsgs();
    }

    function parseTurmaHorario(resposta, corpo) {
        var objJson = JSON.parse(resposta);
        for (i in objJson) {
            corpo.append(
                '<tr>' +
                '<td class=\'col-md-2\'>' + objJson[i].oficina + '</td>' +
                '<td class=\'col-md-2\'>' + getDiaSemana(objJson[i]) + '</td>' +
                '<td class=\'col-md-2\'>' + objJson[i].inicio + " as " + objJson[i].fim + '</td>' +
                '<td class=\'col-md-2\'>' + objJson[i].sala + '</td>' +
                '<td class=\'col-md-2\'>' + objJson[i].professor + '</td>' +
                '<td class=\'col-md-2\'>' + isAtivo(objJson[i].ativo) + '</td>' +
                '<td class=\'col-md-2\'><a href="?pag=Edit.Turma&id='+objJson[i].id_turma+'" class="btn btn-primary"><span class=\'glyphicon glyphicon-pencil\'></span></a> </td>' +
                '</tr>');
        }
    }
</script>
</body>
