<body>
<div class="row" style="padding: 16px;">
    <!-- Form Name -->
    <legend><a href="index.php?pag=Infraestrutura"><span class="glyphicon glyphicon-chevron-left"></span> Voltar </a> | Cadastro de Novos Predios</legend>
    <form class="form-horizontal" action="control/main.php?req=2" method="POST">

        <div class="form-group">
            <label class="col-md-4 control-label" for="nome">Nome</label>
            <div class="col-md-4">
                <input id="nome" name="nome" type="text" placeholder="Ginásio"  class="form-control input-md" required="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="localizacao">Localização</label>
            <div class="col-md-4">
                <input id="localizacao" name="localizacao" type="text" placeholder="Rua x, numero 1"  class="form-control input-md" required="">
            </div>
        </div>

        <div class="col-md-4 col-md-offset-4"><!-- Submit -->
            <input id="enviar" type="submit" class="btn btn-primary btn-block" value="Cadastrar" />
        </div>
    </form>
</div>
</body>