<body>
<div class="row" style="padding: 16px;">
    <legend><a href="index.php?pag=DashBoard"><span class="glyphicon glyphicon-chevron-left"></span> Voltar </a> | Cadastro de Turmas</legend>

    <form class="form-horizontal" action="control/main.php?req=12" method="POST">

        <h3 class="text-center">Escolha a oficina</h3>

        <!-- Oficinas cadastradas -->
        <div id="ofbody" class="form-group">
            <label class="col-md-4 control-label">Oficina</label>
            <div class="col-md-4">
                <div class="input-group">
                    <select id="selectOficina" name="oficina_id" class="selectpicker" title="Escolha uma oficina" required="required">
                        <option value="1">1</option>
                    </select>
                </div><!-- /input-group -->
            </div>
        </div><!-- /form-group -->

        <h3 class="text-center">Escolha o Local</h3>

        <!-- Predios disponiveis -->
        <div id="tbody" class="form-group">
            <label class="col-md-4 control-label">Predio</label>
            <div class="col-md-4">
                <div class="input-group">
                    <select id="selectPredio" onchange="SalaFromPredioId();" class="selectpicker" title="Escolha um predio" required="required">
                        <option value="1">1</option>
                    </select>
                </div><!-- /input-group -->
            </div>
        </div><!-- /form-group -->

        <!-- Salas disponiveis -->
        <div id="tsala" class="form-group">
            <label class="col-md-4 control-label">Sala</label>
            <div class="col-md-4">
                <div class="input-group">
                    <select id="selectSala" name="sala_id" class="selectpicker" title="Escolha uma Sala" required="required">
                        <option value="-1">Selecione um predio</option>
                    </select>
                </div><!-- /input-group -->
            </div>
        </div><!-- /form-group -->

        <!-- Selecione o dia da semana -->
        <div class="form-group">
            <h3 class="text-center">Escolha os dias da semana</h3>
            <div class="col-md-5 col-md-offset-4">

                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Segunda</button>
                    <input type="checkbox" name="seg" class="hidden" />
                </span>

                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Terça</button>
                    <input type="checkbox" name="ter" class="hidden" />
                </span>

                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Quarta</button>
                    <input type="checkbox" name="qua" class="hidden" />
                </span>

                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Quinta</button>
                    <input type="checkbox" name="qui" class="hidden" />
                </span>

                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Sexta</button>
                    <input type="checkbox" name="sex" class="hidden" />
                </span>

            </div>
        </div>

        <!-- Horario -->
        <h3 class="text-center">Escolha o Horário</h3>
        <!-- Num de vagas -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="horarioInic">Inicio</label>
            <div class="col-md-4">
                <input id="horarioInic" name="horario_inic" type="time" placeholder="--:--"  class="form-control input-md" required="">
            </div>
        </div><!-- /form-group -->

        <div class="form-group">
            <label class="col-md-4 control-label" for="horarioFim">Fim</label>
            <div class="col-md-4">
                <input id="horarioFim" name="horario_fim" type="time" placeholder="--:--"  class="form-control input-md" required="">
            </div>
        </div><!-- /form-group -->

        <!-- Num de vagas -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="vagas">Num. de vagas</label>
            <div class="col-md-4">
                <input id="vagas" name="vagas" type="number" placeholder="numero de vagas"  class="form-control input-md" required="">
            </div>
        </div><!-- /form-group -->

        <div class="col-md-4 col-md-offset-4"><!-- Submit -->
            <input id="enviar" type="submit" class="btn btn-primary btn-block" value="Cadastrar" />
        </div>

    </form>
</div>

<script type="text/javascript">
    var selectPredio = $('#selectPredio');
    var selectSala = $('#selectSala');
    var selectOficina = $('#selectOficina');

    $(document).on("load",carregador());

    function carregador() {
        //obtendo oficinas
        ajaxLoadGET('control/main.php?req=11',jsonParseOficinas,selectOficina);
        //obtendo predios
        ajaxLoadGET('control/main.php?req=4',jsonParseNomePredios,selectPredio);
        //carregando previamente os itens cadastrados no primeiro predio
        SalaFromPredioId();

    }

    function jsonParseOficinas(resposta,corpo) {
        corpo.empty();
        var objJson = JSON.parse(resposta);
        for(var i in objJson){
            corpo.append('<option value="' + objJson[i].id_oficina+'">' + objJson[i].nome + '</option>' );
        }
    }

    function SalaFromPredioId() {
        var identificador = parseInt(selectPredio.val());
        ajaxLoadGET('control/main.php?req=14&id='+identificador,jsonParseSalas,selectSala);
    }

    function jsonParseSalas(resposta,corpo) {
        corpo.empty();
        var objJson = JSON.parse(resposta);
        for(var i in objJson){
           corpo.append('<option value="' + objJson[i].id_sala+'">' + objJson[i].nome + '</option>' );
        }
    }

</script>
<script src="js/checkboxButton.js"></script>
</body>