<body>
<div class="row" style="padding: 16px;">
    <legend><a href="index.php?pag=DashBoard"><span class="glyphicon glyphicon-chevron-left"></span> Voltar </a> | Cadastro de Turmas</legend>

    <form class="form-horizontal" action="control/main.php?req=13" method="POST">

        <div id="tbody" class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <div class="input-group">
                    <select id="tipoPredio" onchange="idSalaPredio();" name="prediosDisponiveis" class="selectpicker" title="Escolha um predio" required="required">

                    </select>
                </div><!-- /input-group -->
            </div>
        </div><!-- /form-group -->

        <div id="tsala" class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <div class="input-group">
                    <select id="tipoSala" name="salasDisponiveis" class="selectpicker" title="Escolha uma Sala" required="required">

                    </select>
                </div><!-- /input-group -->
            </div>
        </div><!-- /form-group -->

        <div class="form-group">
            <label class="col-md-4 control-label" for="pre_requisito">Pré-requisito</label>
            <div class="col-md-4">
                <input id="pre_requisito" name="pre_requisito" type="text" placeholder="necessário ter conhecimeno prévio em..."  class="form-control input-md" required="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="pre_requisito">Num. de vagas</label>
            <div class="col-md-4">
                <input id="vagas" name="vagas" type="number" placeholder="numero de vagas"  class="form-control input-md" required="">
            </div>
        </div>

        <div class="col-md-4 col-md-offset-4"><!-- Submit -->
            <input id="enviar" type="submit" class="btn btn-primary btn-block" value="Cadastrar" />
        </div>
    </form>
</div>

<script type="text/javascript">
    $('#tipoPredio').on("load", ajaxLoadGET('control/main.php?req=4',jsonParseNomePredios,'#tipoPredio'));
    $(document).on("load",idSalaPredio());
    function idSalaPredio() {
        var identificador = '1';//$('#tipoPredio').val();
        ajaxLoadGET('control/main.php?req=14&id='+identificador,jsonParseSalas,'#tipoSala');
    }

    function jsonParseSalas(resposta) {
        var corpo = $('#tipoSala');
        var objJson = JSON.parse(resposta);
        for(var i in objJson){
            corpo.append(
                '<option value="' + objJson[i].id_sala+'">' + objJson[i].nome + '</option>' );
        }
    }

</script>
</body>