<body>
<div class="container-fluid dashboard">
    <div class="col-md-3 sidebar">
        <!-- TODO: nav não é responsivo e não colapsam ao diminuir a tela  -->
        <div class="row">
            <div class="branding"></div>
        </div>
        <nav class="row">
            <ul class="nav nav-stacked navbar-collapse" id="targeto">
                <li class=""><a class="navbar-link" href="?pag=Infraestrutura">Infraestrutura</a></li>
                <li class=""><a class="navbar-link" href="?pag=Cad.Oficina">Novas oficinas</a></li>
                <li class=""><a class="navbar-link" href="?pag=Cad.Turma">Novas Turmas</a></li>
                <li class=""><a class="navbar-link" href="?pag=Cad.Pessoa">Novos Usuarios</a></li>
                <li class=""><a class="navbar-link" href="control/main.php?req=99">Sair</a></li>
            </ul>
        </nav>
    </div>

    <div class="col-md-9">
        <h2>DashBoard</h2>

        <p id="usr">
            Olá <span id="user"></span>, seu nivel de acesso é <span id="nv"></span>
        </p>

        <p>
            Para criar um link a outras paginas deve-se criar um parametro get.<br/>
            por exemplo <a href="?pag=DashBoard">A página</a> de DashBoard<br/>
        </p>

        <p>
            Turmas disponiveis com horarios cadastrados:<br/>
            <span id="turmasHorarios"></span>
        </p>
    </div>
</div>

<script type="text/javascript">

    $(document).on("load",loader());

    function loader() {
        ajaxLoadGET('control/main.php?req=98',parseUsuario,'#nv');
        ajaxLoadGET('control/main.php?req=13',parseTurmaHorario,'#tumasHorarios');
    }
    function parseUsuario(resposta) {
        var jsonObj = JSON.parse(resposta);
        $('#user').append(jsonObj.nome);
        $('#nv').append(jsonObj.nv_acesso);
    }

    function parseTurmaHorario(resposta) {
        var jsonObj = JSON.parse(resposta);
        for(i in jsonObj)
        $('#turmasHorarios').append(
            jsonObj[i].oficina+", "+
            getDiaSemana(jsonObj[i].dia_semana)+
            " - Horario: "+jsonObj[i].inicio+" as "+jsonObj[i].fim+"<br/>"
        );
    }

    function getDiaSemana( dia) {
        switch (parseInt(dia)){
            case 1:
                return "domingo";
            case 2:
                return "segunda";
            case 3:
                return "terça";
            case 4:
                return "quarta";
            case 5:
                return "quinta";
            case 6:
                return "sexta";
        }
    }
</script>
</body>