<body>
<div class="dashboard">
    <!-- Sidebar Holder -->
    <div class="sidebar col-md-1">
        <br>

        <div class="sidebar-header">
        </div>

        <ul class="list-unstyled">
            <!--li class="text-center">
                <a href="#homeSubmenu">
                    <i class="glyphicon glyphicon-home"></i>
                    <br>
                    Home
                </a>
            </li-->
            <li class="text-center submenu">
                <a href="#infraSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-dashboard"></i>
                    <br>Infra
                </a>
                <ul class="collapse list-unstyled" id="infraSubmenu">
                    <li><a href="?pag=Infraestrutura">Gerenciar</a></li>
                    <li><a href="?pag=Cad.Predio">Novo predio</a></li>
                    <li><a href="?pag=Cad.Sala">Nova sala</a></li>
                </ul>
            </li>
            <li class="text-center">
                <a href="#oficinasSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-knight"></i>
                    <br>oficinas
                </a>
                <ul class="collapse list-unstyled" id="oficinasSubmenu">
                    <li><a href="?pag=Oficinas">Gerenciar</a></li>
                    <li><a href="?pag=Cad.Oficina">Nova Oficina</a></li>
                </ul>
            </li>
            <li class="text-center">
                <a href="#turmasSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-bell"></i>
                    <br>Turmas
                </a>
                <ul class="collapse list-unstyled" id="turmasSubmenu">
                    <li><a href="?pag=Turmas">Gerenciar</a></li>
                    <li><a href="?pag=Cad.Turma">Nova turma</a></li>
                </ul>
            </li>
            <li class="text-center">
                <a href="#usuariosSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-user"></i>
                    <br>Usuários
                </a>
                <ul class="collapse list-unstyled" id="usuariosSubmenu">
                    <li><a href="?pag=Usuarios">Gerenciar</a></li>
                    <li><a href="?pag=Cad.Pessoa">Novo usuário</a></li>
                </ul>
            </li>

            <li class="text-center">
                <a href="#alunosSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-education"></i>
                    <br>Alunos
                </a>
                <ul class="collapse list-unstyled" id="alunosSubmenu">
                    <li><a href="?pag=Alunos">Gerenciar</a></li>
                    <li><a href="?pag=Cad.Aluno">Cad. Aluno em Turma</a></li>
                </ul>
            </li>
            <li class="text-center">
                <a href="control/main.php?req=logout">
                    <i class="glyphicon glyphicon-log-out"></i>
                    <br>Sair
                </a>
            </li>
        </ul>
    </div>
    <!-- Page Content Holder -->
    <div class="content container-fluid">
        <p id="avisos"></p>

        <p id="usr">
            Seja bem vindo <span id="user"></span>. <br> Você está logado como <b><span id="nv"></span></b>
        </p>
        <hr>
        <!--TODO: Ponderar sobre quadros de avisos-->

        <!--div class="row quadros">
            <div class="col-md-4 sqr">
                <div class="" style="background-color: #0f0f0f;">
                    Isto é um teste, deve-se notar a expansão dos quadros de avisos, que provavelmente não serão
                    utilizados nesta versão
                </div>
            </div>
            <div class="col-md-4 sqr">
                <div class="" style="background-color: #0f0f0f;">
                    b
                </div>
            </div>
            <div class="col-md-4 sqr">
                <div class="" style="background-color: #0f0f0f;">
                    c
                </div>
            </div>
        </div-->

        <br>
        <h2> Consulta de Turmas Ativas </h2>
        <br>

        <table class="table">
            <thead>
            <tr>
                <th class='col-md-2'>OFICINAS</th>
                <th class='col-md-2'>TURMA</th>
                <th class='col-md-2'>DIA DA SEMANA</th>
                <th class='col-md-2'>HORÁRIO</th>
                <th class='col-md-1'>SALA</th>
                <th class='col-md-2'>PPROFESSOR</th>
                <th class='col-md-1'>VAGAS</th>
            </tr>
            </thead>
            <tbody id="t_oficinas"></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">

    $(document).on("load", loader());

    function loader() {
        ajaxLoadGET('control/main.php?req=selecUsuarioLogado', parseUsuario, '#nv');
        ajaxLoadGET('control/main.php?req=selectTurmaAtiva', parseTurmaHorario, '#t_oficinas');
        getMsgs();
    }


    function parseUsuario(resposta) {
        var jsonObj = JSON.parse(resposta);
        $('#user').append(jsonObj.nome);
        $('#nv').append(jsonObj.nv_acesso);
    }

    function parseTurmaHorario(resposta, corpo) {
        var objJson = JSON.parse(resposta);
        for (i in objJson) {
            corpo.append(
                '<tr>' +
                '<td class=\'col-md-2\'>' + objJson[i].oficina + '</td>' +
                '<td class=\'col-md-2\'>' + objJson[i].turma + '</td>' +
                '<td class=\'col-md-2\'>' + getDiaSemana(objJson[i]) + '</td>' +
                '<td class=\'col-md-2\'>' + objJson[i].inicio + " as " + objJson[i].fim + '</td>' +
                '<td class=\'col-md-1\'>' + objJson[i].sala + '</td>' +
                '<td class=\'col-md-2\'>' + objJson[i].professor + '</td>' +
                '<td class=\'col-md-1\'>' + objJson[i].vagas + '</td>' +
                '</tr>');
        }
    }
</script>
</body>