<body>
<h3>Infraestrutura</h3>
<div style="overflow-x: auto;">
    <ul style="min-width: 450px;" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#predios">Predios</a></li>
        <li><a data-toggle="tab" onclick="ajaxLoad('sala',jsonParseSalas,'#tsala');" href="#salas">Salas</a></li>
    </ul>

    <div id="contTab" class="tab-content" style="padding: 16px;">

        <div id="predios" class="tab-pane fade in active">
            <a href="?pag=Cad.Predio" type="button" class="btn btn-primary">Cadastrar Predio</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class='col-md-5'>Nome</th>
                    <th class='col-md-5'>Localização</th>
                    <th class='col-md-1'>Ativo</th>
                    <th class='col-md-1'>Ação</th>
                </tr>
                </thead>
                <tbody id="tpredio"></tbody>
            </table>

        </div>

        <div id="salas" class="tab-pane fade">
            <a href="?pag=Cad.Sala" type="button" class="btn btn-primary">Cadastrar Sala</a>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th class='col-md-5'>Nome</th>
                    <th class='col-md-5'>Predio</th>
                    <th class='col-md-1'>Ativo</th>
                    <th class='col-md-1'>Ação</th>
                </tr>
                </thead>
                <tbody id="tsala"></tbody>
            </table>

        </div>


    </div>
</div>
<script type="text/javascript">
    // language=JQuery-CSS
    $('#tbody').on("load", ajaxLoad("predio",jsonParsePredios,'#tpredio'));

    //Recuperando as informações
    function ajaxLoad(tipo,funcaoParse,corpo){
        var body = $(corpo);
        //colocando uma mensagem de load para o usuario
        body.append('<div class="loader"></div>');
        var xhttp = new XMLHttpRequest();//Objeto Ajax
        xhttp.onreadystatechange = function(){//toda vez que mudar estado chama a funcao
            if(xhttp.readyState === 4){//estado 4 é quando recebe a resposta
                $(".loader").remove();
                body.empty();
                funcaoParse(this.responseText,body);
                //body.append(this.responseText);

            }
        };
        xhttp.open("GET", "control/getInfra.php?tipo="+tipo);
        xhttp.send();

    }

    function jsonParsePredios(json,corpo) {
        var objJson = JSON.parse(json);
        for(var i in objJson){
            corpo.append(
                '<tr>' +
                '<td class=\'col-md-5\'> '+ objJson[i].nome + '</td>' +
                '<td class=\'col-md-5\'> '+ objJson[i].localizacao + '</td>' +
                '<td class=\'col-md-1\'> '+ isAtivo(objJson[i].is_ativo) + '</td>' +
                '<td class=\'col-md-1\'> <a href="#" class="btn btn-primary"><span class=\'glyphicon glyphicon-pencil\'></span></a> </td>' +
                '</tr>');
        }
    }

    function jsonParseSalas(json,corpo) {
        var objJson = JSON.parse(json);
        for(var i in objJson){
            corpo.append(
                '<tr>' +
                '<td class=\'col-md-5\'> '+ objJson[i].sala + '</td>' +
                '<td class=\'col-md-5\'> '+ objJson[i].predio + '</td>' +
                '<td class=\'col-md-1\'> '+ isAtivo(objJson[i].is_ativo) + '</td>' +
                '<td class=\'col-md-1\'> <a href="#" class="btn btn-primary"><span class=\'glyphicon glyphicon-pencil\'></span></a> </td>' +
                '</tr>');
        }
    }

    function isAtivo(num) {
        if(num === '1') return "Sim";
        else return "nao";
    }
</script>
</body>