<body>
<div id="main">
    <div class="container">
        <div class="col-lg-6 logo"></div>
        <div class="col-lg-6" style="margin-bottom: 25px">
            <div class="panel-body">

                <form id="form" action="control/main.php?req=login" method="POST">
                    <div id="mainAvisos">
                        <p id="avisos" class=""></p>
                    </div>
                    <input id="user" type="text" name="login" class="form-control" placeholder="Usuário"
                           autocomplete="off">
                    <br>
                    <input type="password" class="form-control" name="senha" placeholder="Senha" autocomplete="off">
                    <br>
                    <button type="submit" href="#" class="btn btn-sec"> Entrar </button>
                    <a href="index.php?pag=Cad.Candidato">Não Tenho Conta</a>
                </form>
            </div>
        </div>
        <div class="row text-center">
            <br/>
            <a href="#listaOficinas" class="coolButton"> Oficinas Disponíveis </a>
        </div>
    </div>
</div>

<div id="listaOficinas" class="lista" style="margin-top: 0">
    <div class="container-fluid" >
        <h2 id="titulo-lista" class="text-center">Oficinas Disponíveis</h2>
        <br/>
        <div id="t_oficinas"></div>
    </div>
</div>
<div id="MainFooter" class="text-center">
    <div class="row">
        <small>Projetado por <a href="http://filipeklinger.16mb.com/">Filipe Klinger</a>, Luciano Viana, e Vinícius
            Martins
        </small>
        <br/>
        <span>&copy;CAC CENTRO DE ARTE E CULTURA | TODOS OS DIREITOS RESERVADOS</span>
    </div>
</div>
<script>
    $(document).on("load", getMsgs());

    ajaxLoadGET('control/main.php?req=selectTurmaAtiva', listaMarota, '#t_oficinas');

    function listaMarota(resposta, corpo) {
        var objJson = JSON.parse(resposta);
        var aux;
        if (objJson.length > 0) {
            for (var i in objJson) {
                //aqui obtemos o numero real de vagas disponiveis
                objJson[i].vagas = parseInt(objJson[i].vagas) - parseInt(objJson[i].ocupadas);
                if (objJson[i].vagas < 10) {
                    objJson[i].vagas = '&nbsp;&nbsp;' + objJson[i].vagas;
                }
                //console.log(avaliaData(objJson[i]));
                var aux = JSON.parse(avaliaData(objJson[i]));

                corpo.append(
                    '<div class="container oficinasContainer">' +
                    '<div class="col-md-2 ">' +
                    '<div class="text-center oficinasvagas">' +
                    objJson[i].vagas +
                    '<br>vagas</div></div>' + //end of oficinaVagas
                    '<div class="col-md-8">' + //begin of oficinas content
                    '<h3 >' + objJson[i].oficina + ' - ' + objJson[i].inicio +
                    '</h3>' +
                    ' <h4>Dias: ' + aux + '</h4>' +
                    '<p>Local: ' + objJson[i].sala + ' em  ' + objJson[i].predio + '</p>' +
                    '<p>Professor: ' + objJson[i].professor + '</p>' +
                    '<hr>' +
                    '</div>' +
                    '</div>'
                );
            }
        }
        else {
            corpo.append(
                '<div class="container oficinasContainer">' +
                '<h2 class="text-center"> <span class="glyphicon glyphicon-education"></span> Novas Turmas em Breve</h2>' +
                '</div>'
            );
        }
    }

    function avaliaData(jsonObject) {
        var dias = new Array();
        if (jsonObject.segunda === '1') {
            dias.push("Seg ");
        }
        if (jsonObject.terca === '1') {
            dias.push("Ter ");
        }
        if (jsonObject.quarta === '1') {
            dias.push("Qua ");
        }
        if (jsonObject.quinta === '1') {
            dias.push("Qui ");
        }
        if (jsonObject.sexta === '1') {
            dias.push("Sex ");
        }
        return JSON.stringify(dias);
    }

    //function currDate(){
    const now = new Date();
    var periodo;
    if (now.getMonth() > 6) {
        periodo = 2;
    }
    else {
        periodo = 1;
    }
    document.getElementById('hoje').innerHTML = now.getUTCFullYear() + '-' + periodo;
    //}
</script>
</body>