<body>
<div id="main" class="painel">
    <div class="container">
        <div class="col-lg-6 logo"></div>
        <div class="col-lg-6">
            <div class="panel-body">
                <form id="form" action="control/main.php?req=1" method="POST">
                    <div id="alertsArea"></div>
                    <!--TODO: debugar falha de autenticação-->
                    <input id="user" type="text" name="login" class="form-control" placeholder="Usuário" autocomplete="off">
                    <br>
                    <input type="password" class="form-control" name="senha" placeholder="Senha" autocomplete="off">
                    <br>
                    <button type="submit" href="#" class="btn btn-primary "> Entrar</button>
                    <a href="index.php?pag=Cad.Candidato">Não Tenho Conta</a>
                </form>
            </div>
        </div>
        <div class="col-lg-12 text-center navbar-fixed-bottom continue">
            <br/>
            <span>Role a Página</span><br/>
            <span class="glyphicon glyphicon-chevron-down"></span><br/>
            <span class="glyphicon glyphicon-chevron-down"></span><br/>
        </div>
    </div>
</div>
<div id="oficinas" class="lista">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Panel heading</div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class='col-md-2'>Oficina</th>
                    <th class='col-md-2'>Dia da semana</th>
                    <th class='col-md-2'>Horario</th>
                    <th class='col-md-2'>Sala</th>
                    <th class='col-md-2'>Professor</th>
                    <th class='col-md-2'>Vagas</th>
                </tr>
                </thead>
                <tbody id="t_oficinas"></tbody>
            </table>
        </div>
    </div>
    <script>
        ajaxLoadGET('control/main.php?req=13',listaMarota,'#t_oficinas');

        function listaMarota(resposta,corpo) {
            var objJson = JSON.parse(resposta);
            if(objJson.length > 0){
                for(var i in objJson){
                    corpo.append(
                        '<tr>' +
                        '<td class=\'col-md-2\'>' + objJson[i].oficina + '</td>' +
                        '<td class=\'col-md-2\'>' + getDiaSemana(objJson[i]) + '</td>' +
                        '<td class=\'col-md-2\'>' + objJson[i].inicio + " as " + objJson[i].fim + '</td>' +
                        '<td class=\'col-md-2\'>' + objJson[i].sala + '</td>' +
                        '<td class=\'col-md-2\'>' + objJson[i].professor + '</td>' +
                        '<td class=\'col-md-2\'>' + objJson[i].vagas + '</td>' +
                        '</tr>');
                }
            }
            else{
                corpo.append(
                   '<h2> :( Nenhuma turma disponível</h2>'
                );
            }
        }

    </script>
    <!--TODO: adicionar redes sociais no footer -->
    <footer class="text-center panel-footer">
        <span>&copy; 2018 - <?php echo date('Y')?>, CAC, UFRRJ, todos os direitos reservados</span>
    </footer>
</div>
</body>