<body>
<div id="main" class="painel">
    <div class="container">
        <div class="col-lg-6 logo">
            <!--TODO: inserir logo do CAC aqui-->
        </div>
        <div class="col-lg-6">
            <div class="panel-body">
                <form id="form" action="control/main.php?req=1" method="POST">
                    <div id="alertsArea"></div>
                    <!--TODO: debugar falha de autenticação-->
                    <input id="user" type="text" name="login" class="form-control" placeholder="Usuário" autocomplete="off">
                    <br>
                    <input type="password" class="form-control" name="senha" placeholder="Senha" autocomplete="off">
                    <br>
                    <button type="submit" href="#" class="btn btn-primary "> Entrar</button>
                    <a href="index.php?pag=cadPessoa">Não Tenho Conta</a>
                </form>
            </div>
        </div>
        <div class="col-lg-12 text-center navbar-fixed-bottom continue">
            <br/>
            <span>Role a Página</span><br/>
            <span class="glyphicon glyphicon-chevron-down"></span><br/>
            <span class="glyphicon glyphicon-chevron-down"></span><br/>
        </div>
    </div>
</div>
<div id="oficinas" class="lista">
    <div class="container">
        Obs: Isto não é um erro, implementar lista de oficinas aqui
        <br/>

        <!--TODO: adicionar indexador de oficinas disponíveis-->
        <!--TODO: adicionar estrutura para lista de oficínas-->




    </div>
    <!--TODO: adicionar redes sociais no footer -->
    <footer class="text-center panel-footer">
        <span>&copy; 2018 - <?php echo date('Y')?>, CAC, UFRRJ, todos os direitos reservados</span>
    </footer>
</div>
</body>